CONFIG_ARM=y
CONFIG_ARCH_S5PV210=y
CONFIG_TARGET_MINI210=y
CONFIG_IDENT_STRING=" for mini210"
CONFIG_DEFAULT_DEVICE_TREE="s5pv210-smdkv210"
CONFIG_BOOTDELAY=3
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="mini210 # "
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_CMD_CACHE=y
CONFIG_CMD_FAT=y

# add by Sourcelink
CONFIG_SPL=y
